{
    "presets": [
		"es2015",
        "stage-0"
    ],
    "plugins": [
		"syntax-dynamic-import",
		[
			"transform-runtime",
			{
				"polyfill": false,
				"regenerator": true
			}
		],
		"add-module-exports"
	]
}