body, html {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 900px;
    max-width: 900px;
    min-width: 900px;
    height: auto;
    margin: 25px auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

header {
    background-color: #377539;
    color: #fff;
    position: relative;
}

h1 {
    padding: 50px 50px;
    margin: 0;
    font-size: 2em;
}

#logo {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.app {
    width: 900px;
    max-width: 900px;
    min-width: 900px;
    padding: 50px;
    box-sizing: border-box;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.8em;
}

.requirements {
    font-size: 0.9em;
    margin-bottom: 40px;
}

#submit {
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
}

#clear {
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #e7e7e7;
    color: #000;
    cursor: pointer;
    vertical-align: middle;
}

#characterCount {
    display: block;
    padding: 15px;
    margin: 25px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

#outputSection {
    margin-top: 40px;
}

input {
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 10px 20px;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: auto;
    font-size: 0.9em;
}

textarea {
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 10px 20px;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: auto;
    min-height: 150px;
    font-size: 0.9em;
}

ul {
    font-size: 0.9em;
}